.CreditTransactions{
    padding-top: 20px;
      // .table {
    //     border-spacing: 0 15px;
    //   }
    
    //   i {
    //     font-size: 1rem !important;
    //   }
    //   .head{
    //     background-color: red !important;
    //   }
    
    //   .table tr {
    //     // border-radius: 20px;
    //   }
    
    //   tr td:nth-child(n + 6),
    //   tr th:nth-child(n + 6) {
    //     border-radius: 0 0.625rem 0.625rem 0;
    //   }
    
    //   tr td:nth-child(1),
    //   tr th:nth-child(1) {
    //     border-radius: 0.625rem 0 0 0.625rem;
    //   }

    .bannerText{
        color: #64748B;
        font-family: MadaniArabic-Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        .wallet-date{
            color: #28303F;
            text-align: right;
            font-family: MadaniArabic-Medium;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; 
            }
            .wallet-client-name{
                color: var(--Greyscale-900, #0F172A);
                text-align: right;
                font-family: MadaniArabic-SemiBold;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; 
                letter-spacing: 0.2px;
                }
                .wallet-price{
                color: #28303F;
                text-align: right;
                font-family: MadaniArabic-Medium;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;  
                }
                .report{
                  width: 182px;
                  height: 103px;
                  flex-shrink: 0;
                  border-radius: 9.794px;
                  border: 1px solid #E2E8F0;
                  background: #FFF;
              }
              .amount{
                  color: var(--Greyscale-900, #0F172A);
                  text-align: right;

                  /* Heading/H3 */
                  font-family: MadaniArabic-SemiBold;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 125%; /* 30px */
                  letter-spacing: 0.2px;
              }
              .coin{
                  color: #70D44B;
                  text-align: right;

                  /* body/small/medium */
                  font-family: MadaniArabic-Medium;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 160%; /* 19.2px */
              }
              .report-title{
                  color: var(--Greyscale-500, #64748B);
                  text-align: right;
                                  
                  /* body/small/regular */
                  font-family: MadaniArabic-Regular;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 160%; /* 19.2px */
              }

}