.MainPage{
    .mission-summary{ 
        height: 293px;
        flex-shrink: 0;
        border-radius: 10px;
        background-color:#FFF;
        z-index: 99px;
    }
    .title{
        color: var(--Greyscale-900, #0F172A);
        text-align: right; 
        font-family: MadaniArabic-Medium;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;  
        letter-spacing: 0.2px;
    }
    .alarm{
        width: 39.177px;
        height: 39.177px;
        flex-shrink: 0;
    }
    .new-type{ 
       
        height: 125.368px;
        flex-shrink: 0;        
        border-radius: 9.794px;
        background: #124734;
    }
    
    .img-container{
        position: relative;
        width: 100%;
        max-width: 600px; /* Set the maximum width of the container as needed */
    } 
    .image-overlay {
        position: absolute;
        top: 6px;
        left: -7px;
        width: 100%;
        height: 100%;
        opacity: 0.5; /* Adjust the opacity as needed */
    }
    .status-txt{
        color: var(--Additional-white, #FFF);
        text-align: center;
        font-family: MadaniArabic-Regular;
        font-size: 11.753px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 18.805px */
    }
    .status-count{
        color: var(--Additional-white, #FFF);
        text-align: center;
        font-family: MadaniArabic-Medium;
        font-size: 15.671px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        letter-spacing: 0.196px;
    }
    .inProgress{
        
        height: 125.368px;
        flex-shrink: 0;
        flex-shrink: 0; 
        border-radius: 9.794px;
        background: #E1FAD8; 
     
    }
    .img-container-progress{
        position: relative;
        width: 100%;
        max-width: 600px; /* Set the maximum width of the container as needed */
    }
    .image-overlay-progress {
        position: absolute;
        top: 6px;
        left: -7px;
        width: 100%;
        height: 100%;
        opacity: 0.5; /* Adjust the opacity as needed */
    } 
    .status-txt-progress{
        color: #124734;
        text-align: center;
        font-family: MadaniArabic-Regular;
        font-size: 11.753px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 18.805px */
    } 
    .status-count-progress{
        color: #124734;
        text-align: center;
        font-family: MadaniArabic-Medium;
        font-size: 15.671px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 23.506px */
        letter-spacing: 0.196px;
    }
    .evaluation{
        
        height: 125.368px;
        flex-shrink: 0;
        border-radius: 9.794px;
        background: #F3EFA1;
    }
    .img-container-evaluation{
        position: relative;
        width: 100%;
        max-width: 600px; /* Set the maximum width of the container as needed */
    }
    .image-overlay-evaluation {
        position: absolute;
        top: 12px;
        left: -12px;
        width: 100%;
        height: 100%;
        opacity: 0.5; /* Adjust the opacity as needed */
    } 
    .status-txt-evaluation{
        color: #124734;
        text-align: center;
        font-family: MadaniArabic-Regular;
        font-size: 11.753px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
    } 
    .status-count-evaluation{
        color: #124734;
        text-align: center;
        font-family: MadaniArabic-Medium;
        font-size: 15.671px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        letter-spacing: 0.196px;
    }
    .completed{
       
        height: 125.368px;
        flex-shrink: 0;
        border-radius: 9.794px;
        background: #70D44B;
    }
    .img-container-completed{
        position: relative;
        width: 100%;
        max-width: 600px; /* Set the maximum width of the container as needed */
    }
    .image-overlay-completed {
        position: absolute;
        top: 12px;
        left: -12px;
        width: 100%;
        height: 100%;
        opacity: 0.5; /* Adjust the opacity as needed */
    } 
    .status-txt-completed{
        color: var(--Additional-white, #FFF);
        text-align: center;
        font-family: MadaniArabic-Regular;
        font-size: 11.753px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 18.805px */
    } 
    .status-count-completed{
        color: var(--Additional-white, #FFF);
        text-align: center;
        font-family: MadaniArabic-Medium;
        font-size: 15.671px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 23.506px */
        letter-spacing: 0.196px;
    }
    .balance{
        color: var(--Greyscale-500, #64748B);
        text-align: right;  
        font-family: MadaniArabic-Regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;  
    }
    .percentage{
        color: var(--Greyscale-900, #0F172A);
        text-align: right; 
        font-family: MadaniArabic-SemiBold;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;  
        letter-spacing: 0.2px;
    }
    .increase{
        color: #70D44B;
        text-align: right;

        /* body/small/medium */
        font-family: MadaniArabic-Medium;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 19.2px */
        text-align: end;
    }
}   